include colors-and-types/color-example/color-example.pug

doctype html
html 
    head 
        link(rel="stylesheet" href=require("style.css"))
    body 
        +color-example('dsfdsdsfdsf', 'dsfdsfds', 'dsfdsfdsf')
        //- script(src=require("./../app.js"))