include __code/color-example__code.pug
include __color/color-example__color.pug
include __name/color-example__name.pug

mixin color-example(code, color, name)
    +color(color)
    +colorName(name)
    +colorCode(code)